* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.frame {
    border: 1px solid #000;
}

.block1 {
    text-align: center;
    background-color: rgb(239, 181, 89);
    /*here can be any movie*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about_product {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.block1_img_settings {
    width: 50%;
    height: 50%;
}

.product_description {
    text-align: start;
    padding-left: 25px;
    padding-right: 25px;
}

.block2 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(77, 146, 230);
    height: 100vh;
}

.block2_item {
    max-width: 300px;
}

.block2_img_settings {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.block2_ingredients {
    border: 1px solid #000;
    margin-bottom: 30px;
}

.ingredients_text {
    text-align: center;
}

.main_photo {
    width: 100%;
    height: 100%;
}

.buy_button {
    padding-top: 50px;
    text-align: center;
    font-size: 35px;
}

.block3 {
    height: 100vh;
    background-color: rgb(65, 100, 49);
    display: grid;
    align-items: center;
}

.block4 {
    height: 100vh;
    background-color: rgba(111, 170, 150, 0.553);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block4_top {
    display: flex;
    gap: 30px;
    text-align: center;
}

.block5 {
    height: 100vh;
    background-color: rgba(218, 235, 151, 0.553);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product_name {
    text-align: center;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block5_case {
    display: flex;
    justify-content: space-evenly;
}

.block5_item {
    border: 1px solid #000;
}

.item_pos {
    display: flex;
    align-items: center;
}

.old_price {
    text-align: center;
    font-size: 15px;
    color: darkblue;
    text-decoration: line-through;
}

.new_price {
    text-align: center;
    font-size: 30px;
    color: red;
}

.new_price:hover {
    color: rgb(234, 0, 255);
}

.form_select {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.confirm_button {
    border: 1px solid #000;
    height: 40px;
    font-size: 25px;
    background-color: rgb(55, 234, 204);
    color: red;
    font-weight: bold;
}

.confirm_button:active {
    color: green;
    background-color: rgb(200, 221, 19);
}


.countdown-title {
    color: rgb(203, 0, 41);
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0px 20px;
}

.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 90px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

@media(max-width: 425px) {
    .block1 {
        height: auto;
    }

    .about_product {
        flex-direction: column;
    }

    .block2 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .block3 {
        height: auto;
    }
    .block4{
        height: auto;
    }
}